body{
    background-color: #000;
    color:#00FF00;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container{
    text-align: center;
}
h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

button {
    background-color: #000;
    color: #00FF00;
    border: 1px solid #00FF00;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00FF00;
    color: #000;
}

.output {
    margin-top: 20px;
    font-size: 1.2em;
    white-space: pre-line;
    height: 200px;
    overflow-y: auto;
    border: 1px solid #00FF00;
    padding: 10px;
}